<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Cards</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLP5YBWJCR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BLP5YBWJCR');

    </script>

  <!-- Link to Custom CSS -->
    <link href="/styles/qcards.css" rel="stylesheet" />

</head>

<body>
  <!-- Navbar which can be reused across other pages -->
  <%- include('../partials/navbar'); %>

  <!-- Cards -->
  <div class="q-container">
    <!-- Card 1 -->
     <div class="q-card">
       <div class="q-content">
         <h1 class= "card-q"><%=card.question %></h1>
       </div>
       <div class="q-footer">
         <button class="q-heat-tag"><%=card.heat %></a>
         <button class="q-theme-tag"><%=card.theme %></a>
       </div>
     </div>
   </div>
   <button id="play" onClick="changeCard()">Play</button>

   <form action="" method="POST">
    <input type="submit" value="Generate Name">
  </form>

    <button id="select">Pick text</button>
    <div class="main">
      <div id="message" style="margin-top: 20px; font-size: 24px;"></div>
    </div>
  
    
  <script>
  document.getElementById("select").onclick = function() {
    //let db = <%-card_db%>
    var db = [1,2,3,4]
    alert("test"); 
    document.getElementById("message").innerText = db[Math.floor(Math.random() * db.length)];
  }
  </script>

<!-- Slider -->
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  
</div>

<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>


<p hidden>This text should be hidden.</p>

<p id = "testq"><%=card_db[Math.floor(Math.random() * card_db.length)].question %></p>

</body>
</html>

